/.idea/.gitignore
/.idea/.name
/cmake-build-debug/CMakeFiles/3.21.1/CompilerIdC/a.exe
/cmake-build-debug/CMakeFiles/3.21.1/CompilerIdCXX/a.exe
/cmake-build-debug/build.ninja
/cmake-build-debug/.cmake/api/v1/query/cache-v2
/cmake-build-debug/.cmake/api/v1/reply/cache-v2-185dc08884490fda5c0c.json
/cmake-build-debug/CMakeFiles/clion-environment.txt
/cmake-build-debug/CMakeFiles/clion-log.txt
/cmake-build-debug/CMakeFiles/cmake.check_cache
/cmake-build-debug/cmake_install.cmake
/cmake-build-debug/CMakeCache.txt
/cmake-build-debug/CMakeFiles/3.21.1/CMakeCCompiler.cmake
/cmake-build-debug/CMakeFiles/3.21.1/CompilerIdC/CMakeCCompilerId.c
/cmake-build-debug/CMakeFiles/3.21.1/CMakeCXXCompiler.cmake
/cmake-build-debug/CMakeFiles/3.21.1/CompilerIdCXX/CMakeCXXCompilerId.cpp
/cmake-build-debug/CMakeFiles/3.21.1/CMakeDetermineCompilerABI_C.bin
/cmake-build-debug/CMakeFiles/3.21.1/CMakeDetermineCompilerABI_CXX.bin
/cmake-build-debug/.cmake/api/v1/query/cmakeFiles-v1
/cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-f933d0facd3487a8058f.json
/CMakeLists.txt
/cmake-build-debug/CMakeFiles/CMakeOutput.log
/cmake-build-debug/CMakeFiles/3.21.1/CMakeRCCompiler.cmake
/cmake-build-debug/CMakeFiles/3.21.1/CMakeSystem.cmake
/cmake-build-debug/.cmake/api/v1/query/codemodel-v2
/cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-19f9f4f5c270d8b13493.json
/.idea/CSC-340-Group-Assignment-1.iml
/cmake-build-debug/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
/cmake-build-debug/.cmake/api/v1/reply/index-2022-04-14T20-19-26-0785.json
/cmake-build-debug/Testing/Temporary/LastTest.log
/.idea/misc.xml
/.idea/modules.xml
/cmake-build-debug/CMakeFiles/rules.ninja
/cmake-build-debug/.cmake/api/v1/reply/target-CSC_340_Group_Assignment_1-Debug-9f9c4c1fcd1627d44396.json
/cmake-build-debug/CMakeFiles/TargetDirectories.txt
/cmake-build-debug/.cmake/api/v1/query/toolchains-v1
/cmake-build-debug/.cmake/api/v1/reply/toolchains-v1-2120af67d5621e174487.json
/.idea/vcs.xml
/cmake-build-debug/CMakeFiles/3.22.3/CompilerIdC/a.exe
/cmake-build-debug/CMakeFiles/3.22.3/CompilerIdCXX/a.exe
/cmake-build-debug/.cmake/api/v1/reply/cache-v2-68d33a57a65a2ebd1fee.json
/cmake-build-debug/CMakeFiles/3.22.3/CMakeCCompiler.cmake
/cmake-build-debug/CMakeFiles/3.22.3/CompilerIdC/CMakeCCompilerId.c
/cmake-build-debug/CMakeFiles/3.22.3/CMakeCXXCompiler.cmake
/cmake-build-debug/CMakeFiles/3.22.3/CompilerIdCXX/CMakeCXXCompilerId.cpp
/cmake-build-debug/CMakeFiles/3.22.3/CMakeDetermineCompilerABI_C.bin
/cmake-build-debug/CMakeFiles/3.22.3/CMakeDetermineCompilerABI_CXX.bin
/cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-f907cfd983893a958547.json
/cmake-build-debug/CMakeFiles/3.22.3/CMakeRCCompiler.cmake
/cmake-build-debug/CMakeFiles/3.22.3/CMakeSystem.cmake
/cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-7ae6f3661961310e8006.json
/cmake-build-debug/.cmake/api/v1/reply/index-2022-04-21T06-17-15-0751.json
/.idea/inspectionProfiles/Project_Default.xml
/cmake-build-debug/.cmake/api/v1/reply/target-CSC_340_Group_Assignment_1-Debug-65771dbb3862ed21f3c4.json
/cmake-build-debug/.cmake/api/v1/reply/toolchains-v1-aa3c9cbd49ae913ebafc.json
/cmake-build-debug/.ninja_deps
/cmake-build-debug/.ninja_log
/cmake-build-debug/CSC_340_Group_Assignment_1.exe
/cmake-build-debug/CMakeFiles/CSC_340_Group_Assignment_1.dir/main.cpp.obj
/cmake-build-debug/CMakeFiles/CSC_340_Group_Assignment_1.dir/team_data.cpp.obj
/cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-db3c995c7516d1aaa61b.json
/cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-c8687be4e27dc3667099.json
/cmake-build-debug/.cmake/api/v1/reply/index-2022-04-24T21-26-23-0011.json
/cmake-build-debug/.cmake/api/v1/reply/target-CSC_340_Group_Assignment_1-Debug-567b5449a4a2ee05c598.json
/cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-20bb67092a916b3ccb98.json
/cmake-build-debug/.cmake/api/v1/reply/index-2022-04-26T06-00-18-0123.json
/cmake-build-debug/.cmake/api/v1/reply/target-CSC_340_Group_Assignment_1-Debug-75f4614cc954a830fcec.json
